<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/main_adm"><strong>SGRQ</strong> - Resíduos Químicos</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main_adm">Alertas</a></li>
                    <li><a href="/departments/new">Criações</a></li>
                    <li><a href="/reports/new">Relatórios</a></li>
                    <li><a href="/statistic">Estatístico</a></li>
                    <li><a href="/registers/new">Registro</a></li>
                    <li class="active"><a href="/requests">Requisições</a></li>
                    <li><a href="/account">Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="title">Requisições pendentes</h1>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Laboratorio</th>
    </tr>
  </thead>

  <tbody>
    <% if @requests != nil %>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.name %></td>
        <td><%= request.laboratory.name %></td>
        <td><%= link_to "Aceitar", {:controller => "requests", :action => "accept_request", :request => request.id} , class: "btn" %></td>
        <td><%= link_to "Rejeitar", {:controller => "requests", :action => "refuse_request", :request => request.id}, class: "btn" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
</div>